/* SECTION: PRIMARY THEME */

.primary__theme {
  --link-color: #E94E3D;
  --link-color-active: #fff;
  --theme-footer-background: #000;
}


.primary__theme .main_content {
  background: var(--theme-primary-background);
  color: var(--theme-primary-text)
}

.primary__theme .top__header {
  background-color: var(--theme-primary-background);
  color: var(--theme-primary-text);
  border-bottom: 2px solid var(--theme-primary-accent);
}

.primary__theme .generator__content--btn,
.primary__theme .action__btn {
  background-color: var(--theme-primary-accent);
  color: var(--theme-primary-text);
  border: none;
}

.primary__theme .--secondary-btn, .primary__theme .generator__content--btn.--secondary-btn {
  background-color: #6a6565;
}

.primary__theme .generator__content--btn:hover,
.primary__theme .action__btn:hover {
  border: none;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.primary__theme .generator__content--btn:disabled {
  opacity: 0.7;
}

.main__nav__links a.nav__item__link, .main__nav__links a.nav__item__link:hover {
  color: var(--theme-primary-text);
}

.primary__theme .main__nav__links a:hover,
.primary__theme .nav__item.desktop.active a {
  opacity: 0.95;
  box-shadow: 0 2px 0 var(--theme-primary-accent), 0 -2px 0 var(--theme-primary-accent);
}

.primary__theme .main__heading {
  color: var(--theme-primary-text)
}

.primary__theme .main_page {
  background-color: var(--theme-primary-background);
}



/* SECTION: Light THEME */

.light__theme {
  --color-primary: limegreen;
  --color-accent: darkgreen;
  --color-base: #000;

  --theme-primary-background: #fff;
  --theme-primary-text: #000;
  --theme-primary-accent: darkgreen;
  --theme-footer-background: #fff;

  --link-color: #444;
  --link-color-active: limegreen;
}


.light__theme .footer  {
  /* background-color: var(--theme-footer-background); */
  background-color: var(--default-page-bg);
}

.light__theme a {
  color: var(--link-color);
} 
.light__theme a:hover {
  color: var(--link-color-active);
}

.light__theme .main__nav__links a:hover,
.light__theme .nav__item.desktop.active a {
  opacity: 0.95;
  box-shadow: 0 2px 0 var(--theme-primary-accent), 0 -2px 0 var(--theme-primary-accent);
}

.light__theme .password__label__normal {
  color: inherit;
}

.light__theme .generator__content--btn.--secondary-btn, .light__theme .--secondary-btn {
  background-color: #444;
  box-shadow: none;
  border: none;
}

.light__theme .generator__content--btn:hover,
.light__theme .action__btn:hover {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.4);
}

/* .primary__theme {
  --link-color: var(--link-color-active);
}

.primary__theme .main_content {
  background: var(--theme-primary-background);
  color: var(--theme-primary-text)
}

.primary__theme .top__header {
  background-color: var(--theme-primary-background);
  color: var(--theme-primary-text);
  border-bottom: 2px solid var(--theme-primary-accent);
}

.primary__theme .generator__content--btn,
.primary__theme .action__btn {
  background-color: var(--theme-primary-accent);
  color: var(--theme-primary-text);
  border: none;
}

.primary__theme .generator__content--btn.generator__content--btn.--secondary-btn {
  background-color: #6a6565;
}

.light__theme .generator__content--btn:hover,
.light__theme .action__btn:hover {
  border: none;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.light__theme .generator__content--btn:disabled {
  opacity: 0.7;
}

.light__theme .main__nav__links a {
  color: var(--theme-primary-text);
  opacity: 0.7;
  line-height: 2;
  display: inline-block;
}

.light__theme .main__nav__links a:hover,
.light__theme .nav__item.desktop.active a {
  opacity: 0.95;
  box-shadow: 0 2px 0 var(--theme-primary-accent), 0 -2px 0 var(--theme-primary-accent);
}

.light__theme .main__heading {
  color: var(--theme-primary-text)
}

.light__theme .main_page {
  background-color: var(--theme-primary-background);
} */