
.instructionContainer {
  position: relative;
}

.instructionContainer .generator__content--actions {
  padding-left: 0;
  padding-right: 0;
}

.instructionWindow {
  position: absolute;
  z-index: 20;
  background: #000;
  border: 1px solid var(--color-primary);
  border-radius: 12px;
  padding: 30px 18px;
}

.instructionHeading {
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
  display: flex;
  align-items: center;
  column-gap: 1.8rem;
}

.instrOpen {
  color: var(--color-primary);
}

.instrOpen .instructionInfoIcon {
  border-color: var(--color-primary);
}

.instructionActionControls {
  display: flex;
  justify-content: center;
  column-gap: 1.2rem;
  margin-bottom: 30px;
}

.instructionActionControls > div {
  display: flex;
  column-gap: 1.2rem;
}
.instructionActionControls>div > input[type=radio] {
  width: 18px;
}

.instructionInfoIcon {
  display: inline-block;
  width: 27px;
  height: 23px;
  border: 1px solid white;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
}

.instrustionList {
  list-style: none;
}

.instrustionList li {
  margin-bottom: 1.6rem;
  line-height: 1.4;
}

.instrustionListTips {
}