.instructionContainer {
  position: relative;
  margin-top: 30px;
}

.instructionContainer .generator__content--actions {
  padding-left: 0;
  padding-right: 0;
}

.instructionModalContainer {
  font-size: 1rem;
  margin-bottom: 14px;
}

.instructionWindow {
  position: relative;
  z-index: 20;
  background: #000;
  border: 1px solid var(--color-primary);
  border-radius: 12px;
  padding: 30px 18px;
}

.instructionHeading {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 1.4rem;
  display: flex;
  align-items: center;
  column-gap: 1.8rem;
}

.instrOpen {
  color: var(--color-primary);
}

.instrOpen .instructionInfoIcon, .instrOpen .instruction_info_icon {
  border-color: var(--color-primary);
}

.instructionActionControls {
  display: flex;
  justify-content: center;
  column-gap: 1.2rem;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .instructionActionControls {
    margin-bottom: 0;
  }

}

.instructionActionControls>div {
  display: flex;
  column-gap: 0.66rem;
}

.instructionActionControls>div>input[type=radio] {
  width: 18px;
}

.instructionInfoIcon {
  display: block;
  width: 28px;
  height: 26px;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
}

.instrustionList {
  list-style: none;
}

.instrustionList li {
  margin-bottom: 1rem;
  line-height: 1.4;
}

.instrustionListTips {}