

.resultBlock {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;

}

.convertorImgPreview {
  flex-basis: 33.3333333333%;
}
.convertorImgPreview img {
  max-width: 40vw;
  height: auto;
  display: inline-block;
}

.convertorControlBlock {
  flex-basis: 33.3333333333%;
}

.uploadButton {
  margin-bottom: 30px;
}

.imageInput {
  display: none;
}

.uploadButton:hover {
  box-shadow: 0 4px 0 #f2e302;
}

.generatedCodeBlock {
  flex-basis: 33.3333333333%;
}

.codeArea {
  padding: 1rem 1.4rem;
}



