

.resultBlock {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;

}

.converterImgPreview {
  flex-basis: 33.3333333333%;
}
.converterImgPreview img {
  max-width: 30vw;
  width: 100%;
  height: auto;
  display: inline-block;
}

.converterControlBlock {
  flex-basis: 33.3333333333%;
}

.uploadButton {
  margin-bottom: 14px;
}

.imageInput {
  display: none;
}

.uploadButton:hover {
  opacity: 0.8;
}

.generatedCodeBlock {
  flex-basis: 33.3333333333%;
}

.codeTypeBoxes {
  margin-right: 1rem;
}

.codeTypeBoxesCheckbox {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
}


.codeArea {
  padding: 1rem 1.4rem;
  width: 100%;
  border: 2px solid var(--color-primary);
  border-radius: var(--base-rounded);
}

.codeArea:focus {
  outline: 2px #f2e302;
}

.convertTypeBage {
  min-height: 120px;
}

.convertTypeBage.mobile-veiw {
    min-height: 74px;
}

.convertTypeBage:hover, .convertTypeBage:active, .convertTypeBage:focus {
  background-color: var(--color-primary);
}


@media (max-width: 997px) {
  .resultBlock {
    flex-direction: column;
    align-items: center;
  }
 
}
