.ipCheckerPage {
  overflow-x: hidden;
}

.ipBlock {
  border: 2px solid var(--color-primary);
  padding: 2px;
  border-radius: 6px;
}


.ipDataTable {
  display: grid;
  grid-template-columns: 2fr 2fr;
  border: 2px solid var(--color-primary);
  padding: 1rem;
  column-gap: 1.6rem;
  border-radius: 8px;
}

.ipDataTableMobile {
  border-top: 2px solid var(--color-primary);
  padding: 1rem;
}